{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container">
        <form action="{{ app.request.getBaseURL() }}/" id="searchForm" method="post">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="sel1">Company Symbol:</label>
                    <select class="form-control" name="companySymbol" id="companySymbol" required>
                        <option value="">Select Company Symbol</option>
                    </select>
                    <small class="errorText text-danger" id="companySymbolError"></small>
                </div>
                <div class="form-group col-md-6">
                    <label for="usr">Email:</label>
                    <input type="email" placeholder="Example@example.com" class="form-control" name="email" id="email" required>
                    <small class="errorText text-danger" id="emailError"></small>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="pwd">Start Date:</label>
                    <input type="date" class="form-control" name="startDate" id="startDate" required>
                    <small class="errorText text-danger" id="startDateError"></small>
                </div>
                <div class="form-group col-md-6">
                    <label for="pwd">End Date:</label>
                    <input type="date" class="form-control" name="endDate" id="endDate" required>
                    <small class="errorText text-danger" id="endDateError"></small>
                </div>
            </div>
            <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
            <button class="btn btn-success" id="processButton">Process</button>
        </form>
        <br><br>
        {% if historicalData %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Close</th>
                    <th>Volume</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in historicalData %}
                        <tr>
                            <td>{{ item.date|e }}</td>
                            <td>{{ item.open|e }}</td>
                            <td>{{ item.high|e }}</td>
                            <td>{{ item.low|e }}</td>
                            <td>{{ item.close|e }}</td>
                            <td>{{ item.volume|e }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        let baseUrl = "{{ app.request.getBaseURL() }}";

        $(document).ready(function () {
            $('#companySymbol').select2({
                ajax: {
                    type: "GET",
                    url: baseUrl+'/api/get-company-symbols',
                    dataType: 'json',
                    processResults: function(data) {
                        return {
                            results: $.map(data, function(obj) {
                                return {
                                    id: obj.symbol,
                                    text: '('+obj.symbol+') '+obj.companyName
                                };
                            })
                        };
                    }
                }
            });
        });

        $('#processButton').on('click', function (e) {
            e.preventDefault();

            $('.errorText').text('');
            let submit = true;
            let companySymbol = $('#companySymbol').val();
            let email = $('#email').val();
            let startDate = $('#startDate').val();
            let endDate = $('#endDate').val();

            if (companySymbol === '') {
                submit = false;
                $('#companySymbolError').text('Invalid value.')
            }
            if (email === '' || !validateEmail) {
                submit = false;
                $('#emailError').text('Invalid value.')
            }

            if (startDate === '') {
                submit = false;
                $('#startDateError').text('Invalid value.')
            }
            if (endDate === '') {
                submit = false;
                $('#endDateError').text('Invalid value.')
            }

            startDate = new Date(startDate);
            endDate = new Date(endDate);

            if (startDate == 'Invalid Date') {
                submit = false;
                $('#startDateError').text('Invalid value.')
            }
            if (endDate == 'Invalid Date') {
                submit = false;
                $('#endDateError').text('Invalid value.')
            }

            let currentDate = new Date();

            // in Task description I think this part is wrong (I will explain)
            if (startDate <= currentDate || startDate >= endDate) {
                submit = false;
                $('#startDateError').text('Invalid value.')
            }
            if (endDate <= startDate || endDate <= currentDate) {
                submit = false;
                $('#endDateError').text('Invalid value.')
            }

            if (submit) {
                $('#searchForm').submit()
            }
        })

        function validateEmail(email) {
            var re = /\S+@\S+\.\S+/;
            return re.test(email);
        }
    </script>
{% endblock %}
